
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url(https://static01.nyt.com/images/2021/05/18/fashion/18SCAM-BMI/18SCAM-BMI-videoSixteenByNineJumbo1600.jpg);
  background-position: center;
  background-size:cover;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container {
  background-color:#f1e9e3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border-color: #3498db;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

button:focus {
  outline: none;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #3498db;
  color: #3498db;
  margin-left: 10px;
}

.btn-outline:hover {
  background-color: #3498db;
  color: #fff;
}

.center {
  margin-top: 20px;
}

h3 {
  font-size: 24px;
  color: #27ae60;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #e74c3c;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
